<app-navegacion/>
<main class="min-vh-100">
    <section class="d-flex container-lg my-5">
        <div class="row w-100">
            <h2 class="text-center mb-3 w-100">Sobre nosotros</h2>
            <div class="col-md-6 text-center">
                <img src="../../../assets/Contenido/nosotros2.png" alt="imagen de nosotros2" width="75%">
            </div>
            <div class="col-md-6 d-flex justify-content-center align-items-center">
                <div class="square-box">
                    <p class="justify-text">Nuestro equipo de expertos en mecánica cuenta con años de experiencia y una pasión compartida por mantener tu vehículo funcionando sin problemas y de manera segura en la carretera. Ya sea una simple revisión de rutina o una reparación compleja, 
                        estamos aquí para ofrecerte soluciones confiables y asequibles para cualquier problema que pueda surgir con tu vehículo.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section class="d-flex container-lg mb-2">
        <div class="row w-100">
            <h2 class="text-center mb-3 w-100">¿A qué nos dedicamos?</h2>
            <div class="col-md-6 d-flex justify-content-center align-items-center">
                <div class="square-box">
                    <p class="justify-text">Nos especializamos en proporcionar una amplia gama de servicios de mantenimiento y reparación para vehículos de todas las marcas y modelos. Nuestro equipo altamente capacitado de 
                        mecánicos certificados está dedicado a mantener tu vehículo en óptimas condiciones y garantizar su rendimiento y seguridad en la carretera.
                    </p>
                </div>
            </div>
            <div class="col-md-6 text-center">
                <img src="../../../assets/Contenido/nosotros.png" alt="imagen de nosotros" width="75%">
            </div>
        </div>
    </section>
</main>
<app-footer/>