<app-navegacion/>
<main class="min-vh-100">
    <div>
        <div id="carouselExample" class="carousel slide" data-bs-ride="carousel" style="margin: auto;">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="assets/Contenido/banner1.jpeg" class="d-block w-100" alt="banner de meca">
                </div>
                <div class="carousel-item">
                    <img src="assets/Contenido/banner2.jfif" class="d-block w-100" alt="banner de meca">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>

        <div class="container my-5">
            <h1 class="text-center mb-5">Nuestros Servicios</h1>
            <div class="row g-4">
                <div class="col-md-4">
                    <div class="card h-100">
                        <img src="assets/Contenido/alineamiento3d.jpg" class="card-img-top" style="max-width: 100%; height: auto; max-height: 200px; object-fit: contain;" alt="Alineamiento Computarizado 3D">
                        <div class="card-body">
                            <h5 class="card-title">Alineamiento Computarizado 3D</h5>
                            <p class="card-text">La alineadora 3D reduce el margen de error debido a que recopila información desde 12 ángulos diferentes, para luego corregir la alineación, además, te permitirá obtener los datos exactos del estado de los neumáticos.</p>
                            <a href="#" class="btn btn-primary">Ver Más</a>
                        </div>
                    </div>                                                     
                </div>
                <div class="col-md-4">
                    <div class="card h-100">
                        <img src="assets/Contenido/cambioAc.jpg" class="card-img-top" style="max-width: 100%; height: auto; max-height: 200px; object-fit: contain;" alt="Mantenimiento y cambio de de dirección">
                        <div class="card-body">
                            <h5 class="card-title">Mantenimiento y cambio de de dirección</h5>
                            <p class="card-text">Ofrecemos servicios completos de mantenimiento y ajuste de dirección para vehículos. Esto incluye la inspección y corrección de componentes críticos de dirección y suspensión, asegurando un manejo seguro y óptimo.</p>
                            <a href="#" class="btn btn-primary">Ver Más</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card h-100">
                        <img src="assets/Contenido/alineacion.jpg" class="card-img-top" style="max-width: 100%; height: auto; max-height: 200px; object-fit: contain;" alt="Artículos de Limpieza">
                        <div class="card-body">
                            <h5 class="card-title">Balanceo Computarizado</h5>
                            <p class="card-text">El balanceo computarizado de ruedas es un proceso preciso que corrige la distribución del peso en las ruedas del vehículo. Este servicio asegura un manejo suave y reduce el desgaste desigual de los neumáticos.</p>
                            <a href="#" class="btn btn-primary">Ver Más</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<app-footer/>